<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Browser Version Not Supported</title>
</head>

<body style="text-align: center;">
	<div
		style="margin: 30px auto; border: 1px solid #000; padding: 10px; text-align: left; width: 550px; background: #FFFFFF;">
		<h2 style="font-variant: small-caps;">Your browser seems out of date!</h2>
		<p>We're really sorry, and perhaps you weren't aware, but you're using an extremely outdated version of Internet Explorer.</p>
		<p>We'd really like to make this site as accessible as possible, but due to changes in browser standards, and general Internet abilities, we strongly suggest you update your browser.</p>

				<div class="img">
					<a href="http://www.google.com/chrome" target="_blank" rel="noopener noreferrer"><img
					id="icon_chrome" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="" width="183" height="79" /> </a>
				</div>

				<div class="img">
					<a href="http://www.mozilla.org/firefox/" target="_blank" rel="noopener noreferrer"><img
					id="icon_ff" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="" width="183" height="79" /> </a>
				</div>

				<div class="img">
					<a href="http://www.apple.com/safari/download/" target="_blank" rel="noopener noreferrer"><img
					id="icon_safari4" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="" width="183" height="79" /> </a>
				</div>

				<div class="img">
					<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx" target="_blank" rel="noopener noreferrer"><img
					id="icon_ie8" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="" width="183" height="79" /> </a>
				</div>
	</div>

	</div>
</body>
</html>
