<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
	xmlns:a="http://ajax.org/2005/aml">
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<title>SciCan</title>

<script src="js/loadjscssfile.js" type="text/javascript"></script>
<script src="js/g4_03l.js" type="text/javascript"></script>

<link rel="icon" href="images/favicon.gif" type="image/x-icon" />



<script type="text/javascript">
	function processContacts() {
		setTab('archives');
	};

	function printPreviewSetLink() {
		$('#printPreview').text('Print Preview');
		$('#printPreview').attr(
				'href',
				'printPreview.html?' + yearStr + '&' + monthStr + '&' + dayStr
						+ '&' + cycleStr);
	};
	function largeChartViewSetLink() {
		$('#chartLink').attr(
				'href',
				'largeChartView.html?' + yearStr + '&' + monthStr + '&' + dayStr
						+ '&' + cycleStr);
	};	
</script>

</head>
<body>
	<div id='hdr'>
<div id='scican-hdr'>
	<div id="scican-hdr-main">
		<div id="scican-hdr-wrap">
			<a href="http://www.scican.com/?portal"> <img id="logoImage" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA="
				alt="" /> </a>
			<div id="" style="float: right; text-align: right;">
				<table style="width: 500px;">
					<tbody>
						<tr>
							<td style="vertical-align: middle">
								<div><b><span id="office"></span></b></div>
								<div id="officeTel">Phone: </div>
							</td>
							<td style="vertical-align: middle">
								<div class="logo">
									<img id="logo" class="logo" src="images/officeLogo.png"
										alt="Office Logo" />
								</div></td>
							<td style="vertical-align: middle"><img id="statimImage"
								src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="" /><br />SN: <span
								id="serialNum"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div id="hdr-nav" class="scican-hdr-nav clearfix" style="">
	<ul id="nav-menu">
		<li id="nav-home"><a href="index.html">Home</a>
		</li>
		<li id="nav-status"><a href="status.html">Status</a>
		</li>
		<li id="nav-archives"><a href="archives.html">Archives</a>
		</li>
		<li id="nav-setup"><a href="setup.html">Setup</a>
		</li>
		<li id="nav-help"><a href="help.html">Help</a>
		</li>
	</ul>
</div>
	</div>
	<div id="content-wrap">
		<div id="content"
			style="display: block; margin: 0px auto;">
			<div id="ticker-top-grey-back"></div>
			<div class="clearfix" id="ticker-middle-grey">
				<div class="under-nav-gap"></div>
				<div id="sidebar">
					<div id="sidebarMenu">
						<div id="sidebarArchives" style="font-size: smaller; color: #222;">
							<div>
								<table>
									<tbody>
										<tr>
											<td>Year:  </td>
											<td><select id="yearChooser" name="yearChooser">
													<option>--</option>
											</select></td>
										</tr>
										<tr>
											<td>Month: </td>
											<td><select id="monthChooser" name="monthChooser">
													<option>--</option>
											</select></td>
										</tr>
										<tr>
											<td>Day: </td>
											<td><select id="dayChooser" name="dayChooser">
													<option>--</option>
											</select></td>
										</tr>
										<tr>
											<td>Cycle: </td>
											<td><select id="cycleChooser" name="cycleChooser">
													<option>--</option>
											</select></td>
										</tr>
										<tr>
											<td colspan="2" style="text-align: center;"><input
												type="button" id="prevBtn" value="<" disabled="disabled" />
												<input type="button" id="nextBtn" value=">"
												disabled="disabled" /></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<hr />
						<div>
							<ul>
								<li><a id="printPreview" href="printPreview.html"
									target="_blank"></a>
								</li>
							</ul>
						</div>
						<div style="position: absolute; bottom: 0px; left: 0px;">
							<ul>
								<li class="sidebarFooterLi"><a href="http://www.scican.com/?portal" rel="noopener noreferrer" target="_blank" id="linkScican">
									<span class="helperSpan"></span><span class="sidebarFooterSpanPic"><img id="linkScicanImg" class="sidebarFooterPic" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" /></span><span class="sidebarFooterSpanText">SciCan Web Site</span>
								</a></li>
								<li class="sidebarFooterLi"><a href="http://www.scicancanada.ca/index.cfm?pagepath=Home/Register_your_warranty&id=16173&portal" target="_blank" rel="noopener noreferrer" id="linkWarranty">
									<span class="helperSpan"></span><span class="sidebarFooterSpanPic"><img id="linkWarrantyImg" class="sidebarFooterPic" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" /></span><span class="sidebarFooterSpanText">Warranty Registration</span>
								</a></li>
								<li class="sidebarFooterLi"><a href="http://www.scicancanada.ca/index.cfm?pagepath=Home/SciCanTV_videos&id=33111&portal" target="_blank" rel="noopener noreferrer" id="linkTV">
									<span class="helperSpan"></span><span class="sidebarFooterSpanPic"><img id="linkTVImg" class="sidebarFooterPic" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" /></span><span class="sidebarFooterSpanText">SciCan TV</span>
								</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div id="main">
					<div id="main-content">
						<table width="100%">
							<tr colspan="2">
								<div>
									<tt id="cycleStatus"></tt>
								</div>
								<div>
									<tt id="cycleDate"></tt>
								</div>
							</tr>
							<tr>
								<td>
									<a id="chartLink" target="_blank" rel="noopener noreferrer" style="text-decoration: none; float: left;">
										<div id="placeholder" style="height: 300px; width: 400px;"></div>
								</td>
								<td style="vertical-align: top">
									<div id="logOutput" class="logOutput"
										style="float: right; width: 210px; height: 400px; overflow: auto">
										<tt id="printout"></tt>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div style="clear: both;"></div>
			</div>
			<div>
				<img id="ticker_btm_grey" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" />
			</div>
			<div id="footer"></div>
		</div>
	</div>
	<div id="log"></div>
</body>
</html>
