<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SciCan</title>

<script src="js/loadjscssfile.js" type="text/javascript"></script>
<script src="js/g4_07l.js" type="text/javascript"></script>

<link rel="icon" href="images/favicon.gif" type="image/x-icon" />

</head>
<body>

	<div id="content-wrap">
		<div id="content"
			style="display: block; margin: 0px auto; position: relative; top: 35px;">

			<div style="height: 5px;"></div>
			<div>
				<div id="sidebar">
					<div id="officeLogo" class="logoPrintPreview">
						<img id="logo" class="logoPrintPreview" src="images/officeLogo.png"
							style="margin: 0 auto;" alt="" />
					</div>
					<div id="officeName"></div>
					<div id="officeAddress1"></div>
					<div id="officeAddress2"></div>
					<div id="regionBlob"></div>
					<br/>
					<div id="officePhone">(P): </div>
					<div id="officeFax">(F): </div>
					<br />
					<br />
					<div id="unitType"></div>
					<div>SN: <span id="serial"></span></div>
					<br />
					<br />
					<div>
						<input id="printBtn" type="button" value="Print" /> <input
							id="emailBtn" type="button" value="Email" />
					</div>
				</div>
				<div id="main">
					<div id="main-content" style="height: 600px;">
						<table width="100%">
							<tr colspan="2">
								<div style="height: 20px;">
									<tt id="cycleStatus"></tt>
								</div>
								<div style="height: 50px;">
									<tt id="cycleDate"></tt>
								</div>
							</tr>
							<tr>
								<td>
									<div id="placeholder" style="height: 300px; width: 400px;"></div>
								</td>
								<td style="vertical-align: top">
									<div id="logOutput" class="logOutput" style="float: right; width: 210px;">
										<tt id="printout"></tt>
									</div></td>
							</tr>
						</table>
					</div>
				</div>
				<br style="clear: both;" />
			</div>
			<div></div>
		</div>
	</div>



</body>
</html>

