<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
	xmlns:a="http://ajax.org/2005/aml">
<head>
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="expires" content="0">
<meta http-equiv="cache-control" content="no-cache" />
<title>SciCan</title>

<script src="js/loadjscssfile.js" type="text/javascript"></script>
<script src="js/g4_08l.js" type="text/javascript"></script>

<link rel="icon" href="images/favicon.gif" type="image/x-icon" />

</head>
<body onLoad="initializeRemoteTimer()">
	<div id='scican-hdr'>
		<div id="scican-hdr-main">
			<div id="scican-hdr-wrap">
				<img id="logoImage" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="" />
				<div id="" style="float: right; text-align: right;"></div>
			</div>
		</div>
	</div>

	<div style="padding: 20px;">
		<p id="P1" style="font-size: 20px;">Local control</p>
		<p id="ip" style="font-size: 20px;"></p>
	</div>

	<div id="screen-wrap">
		<img id="screen" />
	</div>

	<canvas id="canvas"></canvas>
</body>
</html>
